*{
font-family: sans-serif;

}
h1{
font-size:40px;
}
.header{
overflow: hidden;    
background-image: url("bg.jpg");
padding: 0px;
margin: 0px;
}
body{
padding: 0px;
margin:0px;

}
.main{
align-items: center;    
margin-left:10%px; 
padding:0px;   
background-color: rgb(241, 242, 243);
}
#head,p{
margin-left: 30%;    
margin-right: 30%;
}
.list{

margin-left: 30%;
margin-right: 30%;
}
.list .list1{
background-color: white;
list-style-type:circle;
border: solid 4px white;
letter-spacing: 1px;
border-radius: 4px;
margin-left:0px ;
margin-right:0px ;
padding:0px;
cursor:pointer;


}
h3{
padding:10px;    
border-radius: 4px;
background-color: white;
list-style-type: cicle;
}
.list .list1 li{
border-top: solid rgb(214, 212, 212) .01px;
margin-top: 3px;
padding: 15px;
}
.footer ,li{
display:flex;
flex-direction:row;
padding-left: 0px;
}
.div{
display:flex;
flex-direction: row;
padding-left: 10px;
padding-right: 10px;
}
.div li{
cursor: pointer;    
padding-left: 5px;
}
.div li:hover{
color: blue;
}